# Configuración del servidor
PORT=5000

# Configuración de OpenAI
OPENAI_API_KEY=

# Configuración de Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

# Configuración de Google Sheets
GOOGLE_SHEETS_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
